/* 1° RESET CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2° ESTILO GERAIS*/

body {
        
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;

}


.content{

    padding: 20px;
    text-align: center;

}


/* 3° CABEÇALHO - HEADER */

.main-header{
    background-color: #ffffff;
    padding: 30px 30px;
    box-shadow: 0 2px 5px rgba(0, 0,0,0.1);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* 4° ESTILIZAÇÃO DO LOGOTIPO */

.logo {

    font-size: 1.8rem;
    font-weight: bold;
    color: #333333;
    text-decoration: none;

}

/* 5° ESTILOS DA NAVEGAÇÃO (NAV) - ESTILO PARA A LISTA <ul> */

.main-nav ul{

    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 25px;

}

/* 6° ESTILO PARA O LINK <a> DENTRO DA NAVEGAÇÃO*/

.main-nav a {

    text-decoration: none;
    color: #555;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 5px;
    transition: color 0.3s, border-bottom-color 0.3s;

}

/* 7° EFEITO HOVER AO PASSAR O MOUSE*/

.main-nav a:hover {

    color: #007bff;
    border-bottom: 2px solid #007bff;

}

/*8° ESTILIZAR O CAMPO DE BUSCA  */



input {

    padding: 9px;

}



@media (max-width: 500px) {
    .main-header {
        flex-direction: column; /* Empilha logo e menu */
        align-items: center;    /* Centraliza */
        gap: 15px;              /* Espaço entre eles */
    }

    .main-nav ul {
        flex-direction: column; /* Links um embaixo do outro */
        gap: 10px;
    }
}